<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BOA | Booker Online Advertising</title>
    
  </head>

  <body>

  
	<table cellspacing="10" cellpadding="5" border="0" width="650" style="margin:auto;">
        <tr>
            <td style="background-color:#ef721f;">

                <div width="150"><img src="http://boast.websandbox.uk/public/img/logo.png" style="max-height: 40px; padding-top:10px; padding-left:37%;"></div>
                <div>
                    <p style="color:white; font-family: verdana; font-size: 125%; text-align:center;">
                        BOA - Booker Online Advertising
                    </p>
                </div>

            </td>
        </tr>
        <tr>

            <td width="150" style="color:black; font-family: sans-serif; font-size: 100%;">
                Hi {{{NAME}}}
            </td>

        </tr>

        <tr>

           <td style="color:black; font-family: sans-serif; font-size: 100%; padding-top:20px;">
               {{{MESSAGE}}}
           </td>

        </tr>

        <tr>

            <td style="color:black; font-family: sans-serif; font-size: 100%; padding-top:20px;">
                For more information please contact the Group Digital Team on #1026 or #1815, quoting "BOAST" along with your query.
            </td>

        </tr>

        <tr>

            <td style="color:grey; font-family: verdana; font-size: 50%;">

                This email is intended solely for the person or organisation to which it is addressed. It may contain privileged and confidential information.

                If you are not the intended recipient of the message, please notify the sender immediately and do not disclose the contents to any other person, use it for any purpose, or store or copy the information in any medium.

                Internet communications are not secure and therefore Booker Group plc and its subsidiary companies, do not accept legal responsibility for the contents of this message. Any views or opinions presented are solely those of the author and do not necessarily represent those of Booker Group plc and its subsidiary companies, unless otherwise specifically stated.

                This e mail is issued by Booker Group plc registered number 5145685 (England and Wales) on behalf of itself and Booker Limited registered number 197380 (England and Wales) and CTM Wholesale and Booker Direct, (the trading names of Booker Direct Limited registered number 4004640 (England and Wales)), all of whose registered offices are situated at Equity House, Irthlingborough Road, Wellingborough, Northants, NN8 1LT.

                If the content of this email is to become contractually binding, it must be made in writing & signed by a duly authorised representative of Booker Group plc.
            </td>

        </tr>

    </table>

  </body>
</html>
